*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #fff;
  
}

/* ヘッダー */
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 980px;
}

h1 {
  font-size: 34px;
  margin-left: 20px;
  padding: 0 20px;
  border: #000 solid 1px;
}

.header-nav ul {
  display: flex;
}

.header-nav ul li {
  list-style: none;
  margin: 0 20px;
}

.header-nav a {
  font-size: 34px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* メイン */
.main-image img {
  width: 100%;
  margin: 0 auto;
}

/* アバウト */
#about {
  margin: 40px auto;
}

h2 {
  font-size: 34px;
  text-align: center;
}

.about-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px auto;
  padding: 10px;
}

/* アバウトの左画像 */
.about-left img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.about-right {
  padding: 0 20px;
}

.about-right p {
  font-size: 24px;
  font-weight: bold;
}

/* ワークス */
.works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 980px;
  margin: 40px auto;
}

.works-text {
  width: 24%;
  margin: 0 10px;
}

.works-img {
  width: 100%;
}

/* フッター */
footer {
  text-align: center;
}


/* ★レスポンシブ対応★ */
/* ★レスポンシブ対応★ */
@media screen and (max-width: 767px) {  
  
  /* ヘッダー */
  h1 {
    font-size: 26px;
  }

  .header-nav a {
    font-size: 18px;
  }

  .header-nav ul {
    margin: 0 10px;
    padding-left: 0;
  }
  
  /* アバウト */
  h2 {
    font-size: 26px;
  }

  .about-flex {
    margin: 20px auto;
    padding: 10px;
  }

  .about-left img {
    margin: 0 auto;
  }

  .about-right p {
    margin: 0;
  }

  /* ワークス */
  .works {
    margin: 0;
  }
  .works-text {
    width: 100%;
    margin: 0 10px;
    padding-bottom: 30px;
  }

  .works-text p {
    margin: 0;
    text-align: center;
  }
}